{
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"endOfLine": "lf"
}
