@font-face {
  font-family: "Jersey 10";
  src: url("/fonts/jersey-10-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body, html {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}